<form method="post" action="show_student_input">
<h1>Mountaineer Challenge Academy Student Concentration</h1>
<p>
First Name: <input type="text" name='first_name' autosize maxlength='60'>
</p>
<p>
Middle Initial: <input type ="text" name='middle_initial' size=1 maxlength='1'>
</p>
<p>
Last Name: <input type="text" name ='last_name' autosize maxlength='60'>
</p>
<p>
<h2>Career Choices</h2>
</p>
<p>
Focus on Academics Only?
</p>
<p>
<input type = 'radio' name='academics' value='no' checked='checked' />no
</p>
<p>
<input type="radio" name='academics'
value='yes' value='text' />yes
</p>
<br><input type="submit"></br>
</form>